
/* Setup */
:root {
    --mainc: rgb(6, 57, 108);
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
    font-family: 'Electrolize', sans-serif;
}

p,
a,
h4,
h5 {
    font-family: 'Lato', sans-serif;
}

.text-custom {
    color: var(--mainc);
}

/* Header */
.bg-header {
    background: linear-gradient(rgba(6, 57, 108, 0.7), rgba(6, 57, 108, 0.7)), url(./media/header.jpg);
}

.title-header {
    font-size: 72px;
    font-weight: 600;
}



/* Navbar */
.navbar-custom {
    background: var(--mainc);
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo-navbar {
    height: 50px;
}



/* Section 1: Citazioni */
.title-mega {
    font-size: 48px;
}

@media screen and (min-width: 768px) {
    .title-mega {
        font-size: 72px;
    }
}

.text-cite {
    position: relative;
}

.text-cite::before {
    content: open-quote;
    color: var(--mainc);
    font-size: 90px;
    font-weight: 300;
    position: absolute;
    top: -50px;
    left: -30px;
}

.text-cite::after {
    content: close-quote;
    color: transparent;
}

.citation-custom {
    height: 200px;
}



/* Section 2: card numeri e icone */
.bg-section-icone {
    background: linear-gradient(rgba(6, 57, 108, 0.7), rgba(6, 57, 108, 0.7)), url(./media/power-plant-4712830_1280.jpg);
    background-position: bottom -100px;
    background-size: cover;
    background-repeat: no-repeat;
}



/* Section 3: Sovrapposizione */
.article-blue {
    position: relative;
    background: var(--mainc);
}

.article-white {
    background: white;
}

@media screen and (min-width: 1200px) {
    .article-blue {
        top: -80px;
        left: 50px;
        max-height: 680px;
        z-index: 2;
        border: 3px solid white;
    };
}

@media screen and (min-width: 1200px) {
    .article-white {
        z-index: 3;
    };
}

.article-white>p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}



/* Section 4: Descrizione */
.text-desc p {
    font-size: 22px;
}

.btn-custom-desc {
    height: 50px;
    width: 200px;
    color: white;
    background: var(--mainc);
    padding: 5px 5px;
    border-radius: 0px;
}

.btn-custom-desc:hover {
    color: white;
}

.btn-custom-desc:focus {
    box-shadow: none;
}



/* Section 6: 4 Card destinazione */
.card-custom {
    width: 430px;
    height: 160px;
    padding: 10px 5px;
    background: url(https://picsum.photos/450/160);
    position: relative;
}

.card-custom:before {
    position: absolute;
    content: "";
    height: 160px;
    max-width: 430px;
    background: linear-gradient(90deg, rgba(6, 57, 108, 0.5), transparent 50%);
    left: -27px;
    top: -17px;
    z-index: 4;
}

.card-custom h2 {
    z-index: 5;
    position: relative;
}

.card-custom p {
    z-index: 5;
    font-size: 10px;
    position: relative;
}



/* Section 7: 6 card piccole */
.bg-custom-mainc {
    background: var(--mainc);
    height: 400px;
    align-items: center;
}

.bg-custom-mainc h2 {
    font-size: 60px;
}

.small-card-custom {
    height: 180px;
    max-width: 360px;
    margin: 0px auto;
}

.bg-sun {
    background: linear-gradient(rgba(6, 57, 108, 0.7), rgba(6, 57, 108, 0.7)), url(./media/sun.png);
    background-size: cover;
    background-position: center;
}

.bg-wind {
    background: linear-gradient(rgba(6, 57, 108, 0.7), rgba(6, 57, 108, 0.7)), url(./media/wind.png);
    background-size: cover;
    background-position: center;
}

.bg-wave {
    background: linear-gradient(rgba(6, 57, 108, 0.7), rgba(6, 57, 108, 0.7)), url(./media/wave.png);
    background-size: cover;
    background-position: center;
}

.bg-gas {
    background: linear-gradient(rgba(6, 57, 108, 0.7), rgba(6, 57, 108, 0.7)), url(./media/gas.png);
    background-size: cover;
    background-position: center;
}

.bg-oil {
    background: linear-gradient(rgba(6, 57, 108, 0.7), rgba(6, 57, 108, 0.7)), url(./media/oil.png);
    background-size: cover;
    background-position: center;
}

.bg-nuclear {
    background: linear-gradient(rgba(6, 57, 108, 0.7), rgba(6, 57, 108, 0.7)), url(./media/nuclear.png);
    background-size: cover;
    background-position: center;
}

.card-box {
    position: relative;
    z-index: 6;
    top: -90px;
}

.card-box>div {
    margin: 0px 1px;
    padding: 0px;
}



/* Section 8: Card download */
.download-card-custom {
    max-width: 400px;
    height: 280px;
    box-shadow: 2px 2px 5px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 10px;
    align-items: center;
    margin: 0px auto;
}

.arrow-container {
    border: 4px solid grey;
    color: grey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 50px;
}



/* Section 9: Descrizione progress bar */
.progress-bar {
    background: var(--mainc);
}

.bar1 {
    width: 25%;
}

.bar2 {
    width: 50%;
}

.bar3 {
    width: 80%;
}

.bar4 {
    width: 100%;
}

.bar5 {
    width: 75%;
}


.progress {
    background: transparent;
    height: 12px;
    border-radius: 0px;
}

.text-progress {
    font-size: 21px;
}


.progress-section p {
    color: grey;
    font-size: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: 600;
}



/* Footer */
.footer {
    background-color: black;
}

.footer h2 {
    font-size: 40px;
}

.info-box {
    background-color: var(--mainc);
    height: 550px;
    width: 550px;
    position: relative;
    padding: 50px 50px 50px 0px;
    top: 0px;
}

@media screen and (min-width: 1390px) {
    .info-box {
        top: -135px;
    }
}

.info-box>h2 {
    font-size: 40px;
    text-align: center;
}

.logo-footer {
    height: 50px;
    width: 80px;
}

.list-custom {
    margin-bottom: 10px;
}

.info-box i {
    margin-top: 7px;
    margin-bottom: 10px;
}

.info-box .last {
    margin-top: 35px;
}